snippet pfi "private final int" i
private final int $1;$0
endsnippet

snippet pfd "private final double" i
private final double $1;$0
endsnippet

snippet ts "toString" i
@Override
public String toString() {
	return String.format("$1", $2);
}$0
endsnippet
