snippet cl "class" i
import java.util.Scanner;

class $1 {
	public static void main(String[] args) {
		Scanner sc = new Scanner(System.in);
		$0
	}
}
endsnippet

snippet printf "printf" i
System.out.printf("$1\\n", $2);$0
endsnippet

snippet endl "print end line" i
System.out.println();
endsnippet
