# ------------
# doubledegree
# ------------

# JSX

snippet eq "equation" i
<B>\`$0
\`</B>
endsnippet

snippet im "inline math" i
<M>\`$1\`</M>$0
endsnippet

snippet nk "NewKey" i
<NewKey>$1</NewKey>$0
endsnippet

# Latex

snippet by "x by x" i
<M>\`\\by{$1}{$2}\`</M>$0
endsnippet

snippet df "dfrac" i
\dfrac{$1}{$2}$0
endsnippet

snippet bf "textbf" i
\textbf{$1}$0
endsnippet

snippet vec "\v" i
<M>\`\\v{$1}\`</M>$0
endsnippet
