snippet init "init" i
\documentclass[a4paper]{article}

\begin{document}
$1
\end{document}
endsnippet

snippet ss "section star" i
\section*{$1}$0
endsnippet

snippet beqs "begin equation star" i
\begin{equation*}
$1
\end{equation*}$0
endsnippet

snippet bfl "begin flush left" i
\begin{flalign*}
	$1&&
\end{flalign*}$0
